/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 0;
    margin: 0; /* Remove a margem padrão do body */
}

/* Estilos para a div do banner */
.banner {
    background-image: url('assets/banner-target.jpg'); /* Caminho da imagem do banner */
    background-size: cover; /* Cobrir toda a área */
    background-position: center; /* Centralizar imagem */
    height: 473px; /* Altura específica do banner */
    width: 100%; /* Ocupa 100% da largura */
    display: flex; /* Usar Flexbox */
    flex-direction: column; /* Empilhar os elementos verticalmente */
    justify-content: center; /* Centralizar verticalmente */
    align-items: center; /* Centralizar horizontalmente */
    color: white; /* Cor do texto */
    box-sizing: border-box; /* Inclui o padding e border na largura total */
}

/* Div para o título */
.title-section {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Estilos para o título */
.title-section h1 {
    font-family: 'Gotham Bold', sans-serif; /* Fonte personalizada */
    font-size: 36px;
    margin: 0;
    color: #fff;
}

/* Div para o conteúdo, incluindo os botões */
.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container para os botões */
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os botões se movam para a linha seguinte em telas menores */
    gap: 10px; /* Espaço entre os botões */
}

/* Estilos para os botões */
.button {
    background-color: #f57320;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Adiciona bordas arredondadas aos botões */
    cursor: pointer;
    font-family: 'Gotham Regular', sans-serif; /* Fonte personalizada para botões */
    font-size: 16px;
    margin: 5px; /* Adiciona um espaço ao redor dos botões */
    transition: 0.3s ease all; /* Transição suave para a mudança de estilo */
}

.button:hover {
    background-color: #F54C20;
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% */
}

/* Estilos para o botão do link externo */
#externalLinkButton {
    background-color: #2867B2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Adiciona bordas arredondadas aos botões */
    cursor: pointer;
    font-family: 'Gotham Regular', sans-serif; /* Fonte personalizada para botões */
    font-size: 16px;
    margin: 5px; /* Adiciona um espaço ao redor dos botões */
    transition: 0.3s ease all; /* Transição suave para a mudança de estilo */
}

#externalLinkButton:hover {
    background-color: #273AB3;
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% */
}

/* Estilos para o contêiner da mensagem */
#message-container {
    height: auto; /* Altura ajustada automaticamente */
    margin-top: 20px;
    width: 100%; /* 90% da largura do banner para permitir espaço nas laterais */
    max-width: 100%; /* Garante que a largura máxima não ultrapasse 90% */
    overflow-x: hidden; /* Remove o scroll horizontal */
    overflow-y: auto; /* Permite o scroll vertical */
    padding: 10px; /* Adiciona um pouco de preenchimento */
    border: 1px solid #ddd; /* Adiciona uma borda para separar a área da mensagem */
    border-radius: 8px; /* Bordas arredondadas */
    background-color: #fff; /* Fundo branco para destacar o texto */
    box-sizing: border-box; /* Inclui o padding e border na largura total */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
    position: relative; /* Para ajustes futuros */
}

/* Estilos para cada parte da mensagem */
.message-box {
    margin-bottom: 3px; /* Espaçamento entre as partes da mensagem */
    padding: 3px;
    border-radius: 3px;
    width: 100%; /* Garante que cada parte ocupe a largura disponível */
}

/* Estilos específicos para a imagem de título */
#message-title {
    background-size: cover; /* Ajusta a imagem ao tamanho da div mantendo a proporção */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    width: 100%; /* Largura ajustada ao contêiner */
    height: auto; /* Altura ajustada automaticamente pelo JavaScript */
}

/* Estilos específicos para a imagem de título */
#message-development {
    padding-left: 50px;
    text-align: left;
    width: 100%; /* Largura ajustada ao contêiner */
    font-size: 20px;
    font-family: 'Gotham Bold', sans-serif; /* Fonte personalizada para o texto de desenvolvimento */
}